<div class="row">
  <h1>Experiencia Laboral</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li>
        <h2>Trabajo 1</h2> - <h3>años</h3>
      </li>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem nemo, ratione quaerat sit nobis dolore molestias similique? Sunt, officiis? Recusandae vel temporibus quas at quibusdam, quisquam veniam itaque qui esse.</p>
    </ul>
    <ul>
      <li>
        <h2>Trabajo 2</h2> - <h3>años</h3>
      </li>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem nemo, ratione quaerat sit nobis dolore molestias similique? Sunt, officiis? Recusandae vel temporibus quas at quibusdam, quisquam veniam itaque qui esse.</p>
    </ul>
  </div>
</div>
